<html>
<head>
    <title>Bill</title>
    <style>
      table,
      th,
      td {
        padding: 10px;
        border: 1px solid black;
        border-collapse: collapse;
      }
    </style>
</head>
<body>
<p><h2><a href="/">Bills list</a></h2></p>
<p><h2>{{ bill }}</h2></p>
{% if bill_items %}
    <table>
    <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Cost</th>
    </tr>
    {% for item in bill_items %}
        <tr>
            <td>{{ item.product }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.cost }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>This bill is empty</p>
{% endif %}
<br>
<form action="{% url 'bills:bill' bill.id %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="Submit" value="Add item">
</form>
</body>
</html>